*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: $color-font-grey2;
  background-color: $color-bg-light1;
}

a,
a:active,
a:visited {
  color: grey;
  text-decoration: none;
}