@mixin font-gradient-diagonal($color1, $color2) {
    background-color: $color1;
    background-image: linear-gradient(45deg, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin section-diagonal() {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

@mixin font-gradient-rainbow() {
    background-color: $color-green-dark;
    background-image: linear-gradient(
      45deg,
      $color-pink,
      $color-pink 18%,
      $color-green-dark 15%,
      $color-font-grey2
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

// @mixin font-gradient-rainbow() {
//     background-color: #f3ec78;
//     background-image: linear-gradient(
//         45deg,
//         #CA4246 16.666%, 
//         #E16541 16.666%, 
//         #E16541 33.333%, 
//         #F18F43 33.333%, 
//         #F18F43 50%, 
//         #8B9862 50%, 
//         #8B9862 66.666%, 
//         #476098 66.666%, 
//         #476098 83.333%, 
//         #A7489B 83.333%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent; 
//     -moz-background-clip: text;
//     -moz-text-fill-color: transparent;
// }