@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

$color-font-main: rgba(33, 1, 36, 1);
$color-font-darkgrey1: rgb(54, 61, 70);
$color-font-grey1: rgb(88, 88, 88);
$color-font-grey2: rgb(97, 97, 97);
$color-font-grey2-transparent: rgba(97, 97, 97, .2);

$color-green-dark: rgba(26, 83, 92, 1);
$color-green-mid: rgba(179, 222, 193, 1);
$color-green-mid-transparent: rgba(179, 222, 193, .8);
$color-green-mid-transparent2: rgba(179, 222, 193, .3);
$color-green-midlight: rgba(211, 243, 222, 1);
$color-green-midlight-transparent: rgba(211, 243, 222, .8);
$color-green-midlight-transparent2: rgba(211, 243, 222, .1);
$color-green-light: rgba(219, 249, 240, 1);

$color-bg-dark1: rgb(97, 97, 97);
$color-bg-light1: rgba(247, 249, 247, 1);
$color-bg-light1-transparent: rgba(247, 249, 247, .8);
$color-bg-light1-transparent2: rgba(247, 249, 247, .4);
$color-bg-light2: rgb(240, 238, 238);
$color-bg-light2-transparent: rgba(247, 249, 247, .1);
$color-bg-light3: rgb(209, 209, 209);

$color-border1: rgba(177, 177, 177, .5);

$color-yellow: #fff27a;
$color-orange: #FFB17A;
// #A63446
$color-pink-dark:#b46c6e;
$color-pink:rgb(239, 118, 122);
$color-pink-light:#ffc5c7;
$color-pink-light-transparent:rgba(255, 197, 199, .8);
$color-blue:rgb(176, 218, 219);
$color-blue-transparent:rgba(176, 218, 219, .8);
$color-blue-transparent2:rgba(176, 218, 219, .3);
// #A39594

$font-roboto: 'Roboto';
$font-roboto-slab: 'Roboto Slab';
$font-monteserrat: 'Montserrat';
$font-open-sans: 'Open Sans';

$gradient-green1: linear-gradient(125deg, $color-green-mid 20%, $color-blue 90%, $color-green-midlight);
$gradient-green-transparent: linear-gradient(125deg, $color-green-mid-transparent 20%, $color-blue-transparent 90%, $color-green-midlight-transparent);
$gradient-green-transparent2: linear-gradient(125deg, $color-green-mid-transparent2 20%, $color-blue-transparent2 90%, $color-green-midlight-transparent2);
$gradient-green-transparent3: linear-gradient(125deg, $color-green-mid-transparent2 20%, $color-green-midlight-transparent2 90%, $color-blue-transparent2);

$gradient-light-transparent: linear-gradient(125deg, $color-bg-light1-transparent2 20%, $color-green-midlight-transparent2 90%, $color-bg-light1-transparent2);

$gradient-blue1: linear-gradient(rgb(176, 218, 219) 30%,rgb(151, 223, 217));
$gradient-dark1: linear-gradient(rgb(97, 97, 97) 30%, rgb(83, 83, 83));

// $gradient-blue1: linear-gradient(95deg, rgb(176, 218, 219) 50%,rgb(176, 200, 219));

// $gradient-blue-transparent: linear-gradient(125deg, rgba(176, 218, 219, .4) 90%, $color-green-midlight-transparent);
// $gradient-grey-transparent: linear-gradient(125deg, rgba(177, 177, 177, .25), 90%, rgba(176, 218, 219, .4));

$shadow-box1: .5rem .5rem 1.8rem $color-font-grey1;
$shadow-box2: 0 .5rem 3rem $color-font-grey2-transparent;
$shadow-box3: 0 .5rem 1rem $color-font-grey2-transparent;
$shadow-nav: 0 .5rem 3rem $color-font-grey2-transparent;