@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

$color-font-main: rgba(33, 1, 36, 1);
$color-font-darkgrey1: rgb(54, 61, 70);
$color-font-grey1: rgb(88, 88, 88);
$color-font-grey2: rgb(97, 97, 97);

$color-green-dark: rgba(26, 83, 92, 1);
$color-green-mid: rgba(179, 222, 193, 1);
$color-green-midlight: rgba(211, 243, 222, 1);
$color-green-light: rgba(219, 249, 240, 1);

$color-bg-light1: rgba(247, 249, 247, 1);
$color-bg-light1-transparent: rgba(247, 249, 247, .8);
$color-bg-light2: rgb(240, 238, 238);

$color-border1: rgba(177, 177, 177, .5);

$color-yellow: #fff27a;
$color-orange: #FFB17A;
// #A63446
$color-pink:#EF767A;
$color-blue:rgb(176, 218, 219);
// #A39594

$font-roboto: 'Roboto';
$font-roboto-slab: 'Roboto Slab';
$font-monteserrat: 'Montserrat';
$font-open-sans: 'Open Sans';

$gradient-green1: linear-gradient(125deg, $color-green-mid 20%, $color-blue 90%, $color-green-midlight);

$shadow-box1: 0 .5rem 1.8rem $color-font-grey1;