.button {
  color: $color-font-grey2;
  min-width: 8rem;
  max-width: auto;
  font-size: 1.3rem;
  padding: .8rem 1.5rem;
  margin: .5rem;
  border-radius: 5px;
  transition: background-color .2s ease-out;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  
  &.white {
    background-color: $color-bg-light1;
  }

  &.blue {
    background-color: $color-blue;
  }

  &.green {
    background-color: $color-green-mid;
  }

  &:hover {
    background-color: $color-bg-light2;
  }
}