.button {
  color: $color-font-grey2;
  font-size: 1.3rem;
  padding: .8rem 1.5rem;
  margin: .5rem;
  border-radius: 5px;
  background-color: $color-bg-light1;
  transition: background-color .2s ease-out;
  outline: none;

  &:hover {
    background-color: $color-bg-light2;
  }
}