.detail-container {
  width: 100vw;
  height: 100rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;

  .add-icon {
    width: 1px;
    height: 1px;
    position: absolute;
    z-index: 5;
    right: -7rem;
    top: -7rem;
    
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in;

    & > * {
      padding: 10rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(0);
    }
    
  }

  &__container {
    // border: 1px solid black;
    height: 100vh;
    width: 90rem;
    background-color: $color-bg-light1-transparent;
    border-radius: 1rem;
    box-shadow: $shadow-box3;
    position: relative;
  }

  &__contents {
    margin: 10rem 3rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none; 
    }

    & > * {
      margin: .8rem 1rem;
    }
  }

  h2 {
    @include border-bottom-grey();
    margin: 1rem 3rem;
  }

  img {
    width: 50rem;
  }
}
