.detail-container {
  width: 100vw;
  height: 100rem;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;

  &__container {
    // border: 1px solid black;
    height: 100vh;
    width: 90rem;
    background-color: $color-bg-light1-transparent;
    border-radius: 1rem;
    box-shadow: $shadow-box3;
    position: relative;
    padding: 2rem;
  }

  &__header {
    display: flex;
    margin-right: 5.5rem;
    margin-top: 3rem;
    width: 8rem;
    position: absolute;
    right: 9rem;
    top: 5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
  }

  &__contents {
    margin: 10rem 3rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none; 
    }

    & > * {
      margin: .8rem 1rem;
    }
  }

  &__image-container {
    display: flex;
    height: 30rem;
    justify-content: center;

    img {
      height: 100%;
      // width: 100%;
      object-fit: cover;
    }
  }

  h2 {
    @include border-bottom-grey();
    margin: 1rem 3rem;
  }

  img {
    width: 50rem;
  }
}
