.diagonal-container {
  z-index: -1;
  position: absolute;
  height: 100%;
  background: $gradient-dark1;
  @include section-diagonal;
  
  &.horizontal-1 {
    width: 65vw;
    min-height: auto;
    height: 80rem;
  }

  &.horizontal-2 {
    width: 65vw;
    min-height: auto;
    height: 60rem;
  }

  &.vertical-1 {
    width: 60rem;
    min-height: auto;
    height: 120rem;
    transform: rotate(49deg);
  }

  &.vertical-2 {
    background: $gradient-blue1;
    width: 80rem;
    min-height: auto;
    height: 50rem;
    right: 0;
  }
}