.form {
  // height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  // justify-content: center;

  & > * {
    margin: .8rem;
  }

  .tag-selected {
    transform: translateY(-180%);
    font-size: 1rem;
    color: $color-blue;
  }

  .container-selected::after {
    transform: translateX(0%);
  }

  &__error-container {
    max-height: 10rem;
    overflow-y: scroll;

    & > * {
      margin: .8rem;
    }
  }

  &__header {
    font-size: 3rem;
    color: $color-green-dark;
    // background-color: blue;
    @include border-bottom-grey();
  }

  div {
    width: 20rem;
    position: relative;
    overflow: hidden;

    input {
      width: 100%;
      height: 5rem;
      border: none;
      padding-top: 2rem;
      outline: none;
      background-color: transparent;
    }

    label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid $color-bg-light3;
      
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform .3s ease;
        border-bottom: 2px solid $color-blue;
      }

      span {
        display: block;
        position: absolute;
        bottom: .5rem;
        left: 0;
        transition: all .3s ease;
      }
    }
  }
}