.add-icon {
  position: absolute;
  z-index: 5;
  // right: 5rem;
  top: 5rem;
  right: 5rem;
  
  // cursor: pointer;
  opacity: 1;
  transition: opacity .2s ease-in;

  &:hover {
    opacity: .8;
    animation: rotate-1 .15s linear;
  }

  & * {
    // cursor: pointer;
  }

  
  &.dc {
    right: 16rem;
    top: 5rem;
  }

  &.mb {
    top: 5rem;
    right: 38%;
  }
}

.site-logo {
  left: 30rem;
  top: 50rem;
}

@keyframes rotate-1 {  
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(90deg); }
}