.main {
  grid-column: 1 / -1;
  margin: 7rem 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40rem 60rem;

  &__contents {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
  }

  &__main {
    background-color: $color-bg-dark1;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__image {
    background-size: cover;
    // width: 10rem;
    height: 100%;
    flex-grow: 1;

    &:nth-child(1) {
      background-image: 
      $gradient-light-transparent,
      url(https://images.pexels.com/photos/210012/pexels-photo-210012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    }

    &:nth-child(2) {
      background-image: 
      $gradient-light-transparent,
      url(https://images.pexels.com/photos/2533092/pexels-photo-2533092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    }

    &:nth-child(3) {
      background-image: 
      $gradient-light-transparent,
      url(https://images.pexels.com/photos/1313814/pexels-photo-1313814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    }

     &:nth-child(4) {
      background-image: 
      $gradient-light-transparent,
      url(https://images.pexels.com/photos/2422265/pexels-photo-2422265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
     }

     &:nth-child(5) {
      background-image: 
      $gradient-light-transparent,
      url(https://images.pexels.com/photos/586687/pexels-photo-586687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
     }
  }

  &__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    color:$color-bg-light1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      cursor: pointer;
      transition: opacity .2s ease-in;
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    & > * {     
      opacity: 0;
      animation: slideInLeft 1s .9s;
      animation-fill-mode: forwards;
    }
  }

  &__section {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
  }
}

@keyframes slideInLeft {
  0% {
    background-position: 50rem;
    opacity: 0;
  }
  50% {
    opacity: .4;
  }
  100% {
    background-position: 0;
    opacity: 1;
  }
}