.navbar {
  padding: 0 3vw;
  width: 100%;
  grid-column: 1 / -1;
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    width: 20rem;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
   } 
  }

  &__right {
    display: flex;
    align-items: center;
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 0;
  }

  &__title {
    font-size: 3rem;
    @include font-gradient-diagonal($color-bg-light1, $color-bg-light2);
  }
  
  &__hamburger {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: $color-bg-light1;
    overflow: hidden;
    cursor: pointer;
    transition: border .1s ease-in;
    border: none;

    &:hover {
      border: 3px solid $color-blue;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    position: absolute;
    width: 16rem;
    height: 50rem;
    z-index: 1;
    left: -1rem;
    top: 6rem;
    transform: translate(100%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    
    &.active {
      transform: translate(0);
      opacity: 1;
    }
  }

  &--initial {
    background-color: $color-bg-dark1;
  }
  
  &--scrolled {
    background-color: $color-bg-dark1-transparent;
    transition: background .2s ease-in;
    box-shadow: $shadow-nav;
    position: fixed;
    top: 0;
    height: 6rem;
    z-index: 5;
  }
}