.navbar {
  background: $gradient-green1;
  height: 7rem;
  padding: 0 3vw;

  grid-column: 1 / -1;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 3rem;
    @include font-gradient-grey();
  }

  &__hamburger {
    width: 4.5rem;
    height: 4.5rem;
    background-color: white;
  }
}