.page-title {
  @include font-gradient-section-title();

  &.medium {
    font-size: 3rem;
    top: -5rem;
  }
  &.large {
    font-size: 5rem;
  }
  position: absolute;

  // display: flex;
  // align-items: flex-end;
}