.page-title {
  position: absolute;
  @include font-gradient-section-title();

  &.medium {
    font-size: 3rem;
    top: -5rem;
    padding: 0 2rem;
  }
  &.large {
    font-size: 5rem;

    &.my-box {
      top: 5rem;
      left: 6rem;
    }
  }
}